
<div>
  <a href="/houses">
    Go back
  </a>
</div>

<div>
  <a href="/delete_house/<%= @the_house.id %>">
    Delete house
  </a>
</div>

<hr>

<h1>
    <%= @the_house.house_name %>
</h1>

<div>
  <form action="/modify_house/<%= @the_house.id %>"  method="post" >
    <label for="house_name_box">Edit House Name: </label>
    <input type="text" id="house_name_box" name="query_house_name" value="<%= @the_house.house_name %>">
    <button> Edit </button>
  </form>
</div>

<div>
<p></p>
</div>

<div>
<form action="/insert_room" method="post">

  <label for="room_name_box"> Add Room: </label>
  <input type="text" id="room_name_box" name="query_room_name">
  
  <input type="hidden" id="house_id_box" name="query_house_id" value="<%= @the_house.id %>">

  <button> Add </button>
</form>
</div>

<hr>

<h1>
    <%= @the_house.house_name %> Rooms
</h1>

<div class="row">

  <% @the_house.rooms.each do |a_room| %>
    
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <%= a_room.room %></h5>
          <a href="/rooms/<%= a_room.id %>" class="btn btn-primary">Show Details</a>
        </div>
      </div>
    
    </div>
  
  <% end %>

</div>
