<div>
  <div>
    <h1>
      List of all rooms
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new room
    </h2>

    <form action="/insert_room" method="post">
      <div>
        <label for="room_box">
          Room
        </label>

        <input type="text" id="room_box" name="query_room_name">
      
      <div>
        <label for="house_id_box">
          House
        </label>

        <input type="text" id="house_id_box" name="query_house_id">
      </div>

      <button>
        Create room
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Room
        </th>

        <th>
          House
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_rooms.each do |a_room| %>
      <tr>
        <td>
          <%= a_room.id %>
        </td>

        <td>
          <%= a_room.room %>
        </td>

        <td>
          <%= a_room.house_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_room.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_room.updated_at) %> ago
        </td>

        <td>
          <a href="/rooms/<%= a_room.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
