
<div>
  <a href="/houses/<%= @the_room.house_id %>">
    Go back
  </a>
</div>

<div>
  <a href="/delete_room/<%= @the_room.id %>">
    Delete Room
  </a>
</div>

<hr>

<h1>
    <%= House.where({ :id => @the_room.house_id }).at(0).house_name %> - <%= @the_room.room %>
</h1>

<div>
  <form action="/modify_room/<%= @the_room.id %>"  method="post" >
    <label for="house_name_box">Edit Room Name: </label>
    <input type="text" id="room_name_box" name="query_room_name" value="<%= @the_room.room %>">

    <input type="hidden" name="query_house_id" value="<%= @the_room.house_id %>".to_i>
      
    <button> Edit </button>
  </form>
</div>


<h1>
  <%= @the_room.room %> Furniture
</h1>


<table border="1">
  <tr>
    
    <th>
      Item
    </th>

    <th>
      Image
    </th>

    <th>
      Description
    </th>
    
    <th>
      Price
    </th>
    
    <th>
      Rate
    </th>
    
    <th>
      Link
    </th>
    
    <th>
      Purchased?
    </th>
    
    <th>
    </th>
  </tr>

  <% @the_room.furniture.each do |a_furniture| %>
  <tr>
    
    <td>
      <%= a_furniture.item%>
    </td>

    <td>
      <%= a_furniture.image%> ######
    </td>

    <td>
      <%= a_furniture.description%>
    </td>
    
    <td>
      <%= a_furniture.price%>
    </td>
    
    <td>
      <%= a_furniture.rating%>
    </td>
    
    <td>
      <a href="<%= a_furniture.link %>">link</a>
    </td>
    
    <td>
      <%= a_furniture.purchased%>
    </td>
    
    <td>
      <a href="/furniture/<%= a_furniture.id%>">Show details</a>
    </td>
  </tr>
  <% end %>
</table>
