
<div>
  <a href="/houses/<%= @the_room.house_id %>">
    Go back
  </a>
</div>

<div>
  <a href="/delete_room/<%= @the_room.id %>">
    Delete Room
  </a>
</div>

<hr>

<h1>
    <%= House.where({ :id => @the_room.house_id }).at(0).house_name %> - <%= @the_room.room %>
</h1>

<div>
  <form action="/modify_room/<%= @the_room.id %>"  method="post" >
    <label for="house_name_box">Edit Room Name: </label>
    <input type="text" id="room_name_box" name="query_room_name" value="<%= @the_room.room %>">

    <input type="hidden" name="query_house_id" value="<%= @the_room.house_id %>".to_i>
      
    <button> Edit </button>
  </form>
</div>



<h1>
  <%= @the_room.room %> Furniture
</h1>
