
<div>
  <a href="/houses/<%= @the_room.house_id %>">
    Go back
  </a>
</div>

<div>
  <a href="/delete_room/<%= @the_room.id %>">
    Delete Room
  </a>
</div>

<hr>

<h1 class="text-primary">
 <%= @the_room.room %>
</h1>

<div>
  <form action="/modify_room/<%= @the_room.id %>"  method="post" >
    <div class="row g-3">
      <div class="col-sm-3">
        <input type="text" class="form-control" value="<%= @the_room.room %>">
      </div>
      <button class="btn btn-primary"> Edit </button>
    </div>
    <input type="hidden" name="query_house_id" value="<%= @the_room.house_id %>".to_i>
  </form>
</div>

<hr>

<h2 class="text-primary">
  Add new Furniture
</h2>

<br>

<form action="/insert_furniture" method="post">
  <div class="row g-3">
    
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Item" aria-label="Item" name="query_item">
    </div>

    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Image" aria-label="Image" name="query_image">
    </div>
    
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Description" aria-label="Description" name="query_description">
    </div>  
  </div>

  <br>

  <div class="row g-3">
    
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Price" aria-label="Price" name="query_price">
    </div>

    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Link" aria-label="Link" name="query_link">
    </div>
    
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="Rating (0 to 5)" aria-label="Rating" name="query_rating">
    </div>  

  </div>

  <br>

  <div>
    <label for="purchased_box">Item was purchased?</label>
    <input type="checkbox" id="purchased_box" name="query_purchased" value="1" class="larger-checkbox">
 
    <input type="hidden" id="room_id_box" name= "query_room_id" value="<%= @the_room.id %>">
  </div>
    <button class= "btn btn-primary">
      Add New Furniture
    </button>
  
</form>

<hr>

<h2 class="text-primary">
  Furniture List
</h2>

<h3 class="text-muted"> Purchased Items </h3>

<div class="row">
  <% @the_room.furniture.where(purchased: 1).each do |a_furniture| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="<%= a_furniture.image %>" class="card-img-top" style="max-height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= a_furniture.item %></h5>
          <p class="card-text"><%= a_furniture.description %></p>
          <p class="card-text">Price: $<%= a_furniture.price %></p>
          
          <p class="card-text rating">
            <% (1..5).each do |i| %>
              <span class="star <%= 'filled' if i <= a_furniture.rating %>">
                &#9733;
              </span>
            <% end %>
          </p>          

          <a href="<%= a_furniture.link %>">Link</a>
          <p></p>
          <a href="/furnitures/<%= a_furniture.id %>" class="btn btn-secondary">Show Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<h3 class="text-muted"> Items in Consideration </h3>

<div class="row d-flex align-items-stretch">
  <% @the_room.furniture.where(purchased: 0).each do |a_furniture| %>
    <div class="col-md-4 mb-4 d-flex">
      <div class="card">
        <img src="<%= a_furniture.image %>" class="card-img-top img-fluid" style="max-height: 300px; width: auto;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= a_furniture.item %></h5>
          <p class="card-text"><%= a_furniture.description %></p>
          <p class="card-text">Price: $<%= a_furniture.price %></p>

          <p class="card-text rating">
            <% (1..5).each do |i| %>
              <span class="star <%= 'filled' if i <= a_furniture.rating %>">
                &#9733;
              </span>
            <% end %>
          </p>

          <a href="<%= a_furniture.link %>">Link</a>
          <p></p>
          <a href="/furnitures/<%= a_furniture.id %>" class="btn btn-secondary">Show Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
