
<div>
  <a href="/houses/<%= @the_room.house_id %>">
    Go back
  </a>
</div>

<div>
  <a href="/delete_room/<%= @the_room.id %>">
    Delete Room
  </a>
</div>

<hr>

<h1 class="text-primary">
    <%= House.where({ :id => @the_room.house_id }).at(0).house_name %> - <%= @the_room.room %>
</h1>

<div>
  <form action="/modify_room/<%= @the_room.id %>"  method="post" >
    <label for="house_name_box">Edit Room Name: </label>
    <input type="text" id="room_name_box" name="query_room_name" value="<%= @the_room.room %>">

    <input type="hidden" name="query_house_id" value="<%= @the_room.house_id %>".to_i>
      
    <button> Edit </button>
  </form>
</div>

<hr>

<h1 class="text-primary">
  <%= @the_room.room %> Furniture
</h1>

<h3>
  Add new Furniture
</h3>

<div>
<form action="/insert_furniture" method="post">
  <div>
    <label for="item_box">Item </label>
    <input type="text" id="item_box" name="query_item">
  </div>

  <div>
    <label for="image_box">Image </label>
    <input type="text" id="image_box" name="query_image">
  </div>

  <div>
    <label for="description_box">Description </label>
    <input type="text" id="description_box" name="query_description">
  </div>

  <div>
    <label for="link_box">Link </label>
    <input type="text" id="link_box" name="query_link">
  </div>

  <div>
    <label for="price_box">Price </label>
    <input type="text" id="price_box" name="query_price">
  </div>
  
  <div>
    <label for="rating_box">Rating </label>
    <input type="text" id="rating_box" name="query_rating">
  </div>

  <div>
    <input type="checkbox" id="purchased_box" name="query_purchased" value="1">
    <label for="purchased_box">Purchased</label>
  
  </div>
    <input type="hidden" id="room_id_box" name= "query_room_id" value="<%= @the_room.id %>">
  </div>

  <button>
    Add New Furniture
  </button>
</form>
</div>

<hr>

<h1 class="text-primary">
  Furniture List
</h1>

<h3 class="text-muted"> Purchased Items </h3>

<div class="row">
  <% @the_room.furniture.where(purchased: 1).each do |a_furniture| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="<%= a_furniture.image %>" class="card-img-top" style="max-height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= a_furniture.item %></h5>
          <p class="card-text"><%= a_furniture.description %></p>
          <p class="card-text">Price: $<%= a_furniture.price %></p>
          <p class="card-text">Rating: <%= a_furniture.rating %></p>
          <a href="<%= a_furniture.link %>">Link</a>
          <p></p>
          <a href="/furnitures/<%= a_furniture.id %>" class="btn btn-secondary">Show Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<h3 class="text-muted"> Items in Consideration </h3>

<div class="row d-flex align-items-stretch">
  <% @the_room.furniture.where(purchased: 0).each do |a_furniture| %>
    <div class="col-md-4 mb-4 d-flex">
      <div class="card">
        <img src="<%= a_furniture.image %>" class="card-img-top img-fluid" style="max-height: 300px; width: auto;" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= a_furniture.item %></h5>
          <p class="card-text"><%= a_furniture.description %></p>
          <p class="card-text">Price: $<%= a_furniture.price %></p>
          <p class="card-text">Rating: <%= a_furniture.rating %></p>
          <a href="<%= a_furniture.link %>">Link</a>
          <p></p>
          <a href="/furnitures/<%= a_furniture.id %>" class="btn btn-secondary">Show Details</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
