<div>
  <a href="/rooms/<%= @the_furniture.room_id %>">
    Go back
  </a>
</div>

<div>
  <a href="/delete_furniture/<%= @the_furniture.id %>">
    Delete Furniture
  </a>
</div>

<hr>

<h1>
  Details: <%= @the_furniture.item %>
</h1>

<dl>
  <dt>
    Item
  </dt>
  <dd>
    <%= @the_furniture.item %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_furniture.image %>" style="width: 400px; height: auto;" alt="Furniture Image">

  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @the_furniture.description %>
  </dd>

  <dt>
    Price
  </dt>
  <dd>
    $<%= @the_furniture.price %>
  </dd>

  <dt>
    Rating
  </dt>
  <dd>
    <%= @the_furniture.rating %>
  </dd>

  <dt>
    Purchased
  </dt>
  <dd>
    <%= @the_furniture.purchased %>
  </dd>

  <dt>
    Room
  </dt>
  <dd>
    <%= @the_furniture.rooms.room %>
  </dd>

</dl>
</div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit furniture
    </h2>
  </div>

  <form action="/modify_furniture/<%= @the_furniture.id %>" method="post">
    <div class="row g-3">

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Item" aria-label="Item" name="query_item" value="<%= @the_furniture.item %>">
      </div>

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Image" aria-label="Image" name="query_image" value="<%= @the_furniture.image %>">
      </div>

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Description" aria-label="Description" name="query_description" value="<%= @the_furniture.description %>">
      </div>
    </div>

    <br>

    <div class="row g-3">

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Price" aria-label="Price" name="query_price" value="<%= @the_furniture.price %>">
      </div>

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Link" aria-label="Link" name="query_link" value=<%= @the_furniture.link %>">
      </div>

      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Rating (0 to 5)" aria-label="Rating" name="query_rating" value="<%= @the_furniture.rating %>">
      </div>

    </div>

    <br>

    <div>
      <label for="purchased_box">Item was purchased?</label>
      <input type="checkbox" id="purchased_box" name="query_purchased" value="1" class="larger-checkbox" value="1" <%= "checked" if @the_furniture.purchased %>>

      <input type="hidden" id="room_id_box" name= "query_room_id" value="<%= @the_furniture.room_id %>">
    </div>
    <button class= "btn btn-primary">
      Edit Furniture
    </button>

  </form>
